.ReactForm {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.FormError{
  color: red;
  display: inline;
}
.FormInput{
  display:inline;
}
#submit {
  background-color: black;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  font-family: 'Nobile', sans-serif;
  font-style: italic;
  font-weight: 900;
  margin: 0px 0px;
  padding: 7px 20px;
}
#submit:active {
   box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
   margin-top:2px;
 }
.title{
  font-size: 4em;
}
.bottomNav{
  font-size: 1em;
}
.row{
  margin:0;
}